#god {
	position: fixed;
	bottom: 25px;
	left: 25px;
	padding:12.5px;
	color: #FFF;
	mix-blend-mode: difference;
	transform: rotate(-5deg);
	font-weight: $fontWeightBold;
	opacity: 0;
	-webkit-font-smoothing: antialiased;

	img {
		width: 35px;
		height: 20px;
		margin: 0 0 -4px 0;
	}
}
