</div>
//-#wrapper
footer#footer
script(data-cfasync='false', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA6qwz4EgG020QGMhyR6nz_KNQFQPB_zjo', type='text/javascript')
script(src!="<?php bloginfo('template_directory'); ?>/j/script.min.js")
</body>
</html>
