p
ul
	font-family: fontMain
	font-size: fs1Lrg
	font-weight: fontWeightNormal
	line-height: 160%
	hyphens: auto

p:last-of-type
	margin-bottom gapBlock

span
	font-size 1.6rem

h1
h2
h3
h4
h5
h6
	color colorFontHeader
	font-family fontHeader
	line-height 120%

h6
	font-size: fs1Lrg
	font-weight: fontWeightNormal
	margin: fs1Lrg 0 0 0

h5
	font-size: fs1Lrg
	font-weight: fontWeightBold
	margin: fs1Lrg 0 0 0

h4
	font-size: fs2Lrg
	font-weight: fontWeightNormal
	margin: fs2Lrg 0 0 0

h3
	font-size: fs3Lrg
	font-weight: fontWeightNormal
	margin: fs3Lrg 0 0 0

h2
	font-size: fs4Lrg
	font-weight: fontWeightNormal
	margin: fs4Lrg 0 0 0

h1
	font-size: fs5Lrg
	font-weight: fontWeightNormal
	margin: fs5Lrg 0 0 0
