@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700');
/*@import url(https://fonts.googleapis.com/css?family=Lato:400,300italic,300,700);*/
@import url('https://fonts.googleapis.com/css?family=PT+Serif&subset=cyrillic');
@font-face {
    font-family: CoreSans;
    src: url(../f/CoreSansD75Black.otf);
}

/* Typography */
$fontHeader:			'CoreSans', serif;
$fontMain:				'Roboto', Helvetica, Arial, sans-serif;
$fontButton:			'Roboto', Helvetica, Arial, sans-serif;
$fontWeightLight:		300;
$fontWeightNormal:		400;
$fontWeightBold:		700;

$fs0Lrg:				0.989rem;
$fs1Lrg:				1.6rem;
$fs2Lrg:				2.589rem;
$fs3Lrg:				4.189rem;
$fs4Lrg:				6.777rem;
$fs5Lrg:				10.966rem;

/* colors */
$black:				hsla(0, 0%, 10%, 1);
$offWhite:			hsla(0, 0%, 95%, 1);
$colorFontHeader:	hsla(38, 7%, 30%, 1);
$colorFontMain:		hsla(38, 7%, 30%, 1);
$turq:				hsla(180, 100%, 68%, 1);
$pink:				hsla(318, 89%, 86%, 1);
$transp:			hsla(0, 0%, 0%, 0);

$xSml:		screen and (min-width:600px);
$sml:		screen and (min-width:750px);
$med:		screen and (min-width:900px);
$lrg:		screen and (min-width:1200px);
$xLrg:		screen and (min-width:1200px);
$xLrg:		screen and (min-width:1400px);
$xxLrg:		screen and (min-width:1600px);
$ie:		all and (-ms-high-contrast: none), (-ms-high-contrast: active);

$linkTime:	0.5s;
$transTime:	0.5s;

/* Units */
$marTop: 		150px;

$padBlkLrg: 		20px;
$padBlkMed: 		15px;
$padBlkSml: 		10px;
$padElemLrg: 		10px;
$padElemMed: 		7px;
$padElemSml: 		5px;

$marBlkLrg: 		30px;
$marBlkMed: 		20px;
$marBlkSml: 		15px;
$marElemLrg: 		10px;
$marElemMed: 		7px;
$marElemSml: 		5px;

$borderRadBlock:		5px;
$borderRadElem:			5px;

$marLiLrg:			20px;
$marLiMed:			15px;
$marLiSml:			10px;

/* fx */
$boxShadow:			0 20px 60px hsla(180, 7%, 70%, 1);
$modalShadow:		0 30px 75px hsla(55, 7%, 70%, 1);
