.
	<?php get_header() ?>
h1
	|This is header 1
	br
	|This is the second line of header 1
h2
	|This is header 2
	br
	|This is the second line of header 2
h3
	|This is header 3
	br
	|This is the second line of header 3
h4
	|This is header 4
	br
	|This is the second line of header 4
h5
	|This is header 5
	br
	|This is the second line of header 5
h6
	|This is header 6
	br
	|This is the second line of header 6
p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi adipisci, odit id tenetur a. Nobis sed cupiditate iure eligendi, voluptas ad accusamus aspernatur quidem excepturi assumenda distinctio esse fugit voluptatem. Ducimus id quia eaque sequi veniam illo molestiae nostrum, cum tempora iste vel soluta facilis amet quisquam esse nulla odio maiores culpa nesciunt! Nostrum quam odit ipsum, commodi quaerat maxime. Perferendis doloremque, officiis consequuntur quibusdam qui provident repellat cupiditate hic voluptatem possimus ab autem numquam? Beatae maxime, cupiditate soluta modi laudantium, nulla quisquam consectetur eos, vel harum, assumenda nam suscipit!
.
	<?php get_template_part('contact'); ?>
	<?php get_footer() ?>
