.header {
}

#logo-nav {
	position: fixed;
	top:25px;
	left: 25px;
	padding:12.5px;
	display: flex;
	align-items: center;
	transform-origin: center;
	transform: rotate(-5deg);
	mix-blend-mode: difference;
	-webkit-font-smoothing: antialiased;
	z-index:999;
	opacity: 0;
}

#header-logo {
	width: 140px;
	height: 197px;
	fill: white;
}

#header-nav {
}

#header-nav__list {
	margin: 0;
	padding: 0 0 0 25px;
	list-style: none;
	color: #FFF;
}


#header-phone {
	position: fixed;
	top:50px;
	right: 25px;
	padding:12.5px;
	display: flex;
	text-align: right;
	transform-origin: center;
	transform: rotate(-5deg);
/*	mix-blend-mode: difference; */
	z-index:999;
	background-color: hsla(0, 0%, 0%, .9);
	background-color: $black;
	opacity: 0;
}

#header-phone__icon {
	width: 32px;
	height: 64px;
	fill: white;
	margin: 6.25px 12.5px 0 0;
}

#header-phone__text{
	color:white;
	span {
		display:block
	}
	span {
		font-family: $fontHeader;
		font-size: 6.7773rem;
	}
	a {
		color: #FFF;
		font-size: 1.6rem;
	}

}
