doctype html(lang='ru')
html
head
	title Some website
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	//-loader css here for faster loading
	include inc/loader.css
	link(rel='stylesheet', type='text/css', href!='<?php bloginfo( template_directory ); ?>/style.css')
	link(rel='stylesheet', type='text/css', href!='<?php bloginfo( template_directory ); ?>/main.css')
<body>
	//-loader
	.loader#jsLoader.active
		include inc/loader.svg
	include inc/loader.js
	<div id="wrapper">
