#contact.jsSectionMarker
	#jsGmap.gmap
	.contacts-address
		h4 «Событийная студия 2Q»
		p 197374, Санкт-Петербург, ул. Мебельная, д. 3, лит. А, оф. 3
	script.
		var lat = 59.947636;
		var lng = 30.267188;
		//set up content string
		//inline, чтобы управлять через CMS
		var contentString =
		'<div class="address-popup">' +
		'<h5>«Событийная студия 2Q»</h5>' +
		'<p>' +
		'197374, Владивосток,<br> ' +
		'ул.Мебельная, д.3, лит.А, оф.3<br>' +
		'Телефон: +7 (812) 430-91-63<br>' +
		'E-mail: tr@takrab.ru' +
		'</p>' +
		'</div>';
